Arduino/Aula06 - MQQT/flow.json
[{"id":"39807161.301afe","type":"tab","label":"Flow 1"},{"id":"8240c6da.5a93b8","type":"serial out","z":"39807161.301afe","name":"","serial":"e67ac20d.76521","x":436,"y":112,"wires":[]},{"id":"68379591.c5a6c4","type":"inject","z":"39807161.301afe","name":"","topic":"","payload":"{\"led\":200}","payloadType":"json","repeat":"","crontab":"","once":false,"x":99,"y":77,"wires":[["8240c6da.5a93b8"]]},{"id":"e27362ee.675be","type":"serial in","z":"39807161.301afe","name":"Arduino","serial":"e67ac20d.76521","x":89,"y":294,"wires":[["850851a7.88c1f"]]},{"id":"850851a7.88c1f","type":"function","z":"39807161.301afe","name":"Received Values","func":"var  obj = JSON.parse(msg.payload.trim());\n if(\"luz\" in obj){\n     msg.payload = obj.luz;\n     \n }else{\n     msg = undefined;\n }\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":375,"wires":[["18a0f268.4afc36","eaf51339.be3288"]]},{"id":"18a0f268.4afc36","type":"debug","z":"39807161.301afe","name":"","active":true,"console":"false","complete":"payload","x":517,"y":237,"wires":[]},{"id":"41543723.e7f788","type":"inject","z":"39807161.301afe","name":"","topic":"","payload":"{\"led\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":104,"y":154,"wires":[["8240c6da.5a93b8"]]},{"id":"eaf51339.be3288","type":"mqtt out","z":"39807161.301afe","name":"","topic":"lab701/arduino19/luz","qos":"","retain":"","broker":"6733cbba.e9d844","x":547,"y":379,"wires":[]},{"id":"a443570f.a77078","type":"mqtt in","z":"39807161.301afe","name":"","topic":"lab701/arduino19/led","qos":"2","broker":"6733cbba.e9d844","x":193,"y":515,"wires":[["984fe32f.1c88c8"]]},{"id":"984fe32f.1c88c8","type":"function","z":"39807161.301afe","name":"Received Values","func":"var potencia = parseInt(msg.payload);\nmsg.payload = {};\nmsg.payload[\"led\"] = potencia;\nreturn msg;\n","outputs":1,"noerr":0,"x":342,"y":598,"wires":[["5ae2b082.a8aa9","58d22ac6.76bb6c"]]},{"id":"5ae2b082.a8aa9","type":"serial out","z":"39807161.301afe","name":"","serial":"e67ac20d.76521","x":512,"y":489,"wires":[]},{"id":"58d22ac6.76bb6c","type":"mqtt out","z":"39807161.301afe","name":"","topic":"","qos":"","retain":"","broker":"6733cbba.e9d844","x":519,"y":654,"wires":[]},{"id":"e67ac20d.76521","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"6733cbba.e9d844","type":"mqtt-broker","z":"","broker":"10.20.71.61","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]