Node-Red/flow node
[{"id":"355c7a41.155446","type":"tab","label":"Aplicação WEB"},{"id":"c2afb4d8.df63c8","type":"mqtt in","z":"355c7a41.155446","name":"","topic":"naturaecobox/entrada","qos":"1","broker":"25a6f3bc.bcb65c","x":157,"y":415,"wires":[["1bb5b798.916a98"]]},{"id":"3fcf802f.783b4","type":"serial out","z":"355c7a41.155446","name":"","serial":"bc180b17.6566e8","x":500,"y":573,"wires":[]},{"id":"1bb5b798.916a98","type":"function","z":"355c7a41.155446","name":"","func":"var obj = JSON.parse(msg.payload.trim());\nif(\"cmd\" in obj) {\n    msg.payload = obj.cmd;\n} else {\n    msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":503,"wires":[["3fcf802f.783b4"]]},{"id":"7df70589.c0548c","type":"http in","z":"355c7a41.155446","name":"","url":"/natura","method":"put","upload":false,"swaggerDoc":"","x":171,"y":202,"wires":[["4a904ba1.e2a214"]]},{"id":"a8060a68.1e41f8","type":"mqtt out","z":"355c7a41.155446","name":"","topic":"naturaecobox/entrada","qos":"1","retain":"true","broker":"f6bf1707.251968","x":607,"y":193,"wires":[]},{"id":"4603b43b.5a3dbc","type":"http response","z":"355c7a41.155446","name":"","x":505,"y":296,"wires":[]},{"id":"4a904ba1.e2a214","type":"function","z":"355c7a41.155446","name":"","func":"var obj = msg.payload;\nif(\"comprar\" in obj) {\n    var cmd = null;\n    msg.statusCode = 200;\n    if(obj.comprar == \"abrir\") {\n        cmd = {\"led\":1};\n    } else {\n        msg.statusCode = 400;\n    }\n    msg.payload = {\"cmd\": cmd};\n} else if (\"reciclar\" in obj) {\n    var cmd = null;\n    msg.statusCode = 200;\n    if(obj.reciclar == \"abrir\") {\n        cmd = {\"led\":2};\n    } else {\n        msg.statusCode = 400;\n    }\n} else {\n    msg.statusCode = 400;\n}\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":266,"wires":[["4603b43b.5a3dbc","67f33745.302418"]]},{"id":"67f33745.302418","type":"switch","z":"355c7a41.155446","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"}],"checkall":"true","outputs":1,"x":402,"y":219,"wires":[["a8060a68.1e41f8"]]},{"id":"48db4ab0.9e88c4","type":"serial in","z":"355c7a41.155446","name":"","serial":"5a3dfbba.991204","x":107,"y":690,"wires":[["42030201.4723dc"]]},{"id":"738bd1d9.dd007","type":"inject","z":"355c7a41.155446","name":"","topic":"","payload":"{\"comprar\":fechar}","payloadType":"str","repeat":"2","crontab":"","once":false,"x":153,"y":761,"wires":[["42030201.4723dc"]]},{"id":"b7cc8910.65cb98","type":"mqtt out","z":"355c7a41.155446","name":"","topic":"naturaecobox/saida","qos":"0","retain":"","broker":"f6bf1707.251968","x":528,"y":711,"wires":[]},{"id":"42030201.4723dc","type":"function","z":"355c7a41.155446","name":"","func":"var obj = JSON.parse(msg.payload.trim());\nmsg.payload = {\"comando\": obj};\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":749,"wires":[["b7cc8910.65cb98"]]},{"id":"b37158f.46447a8","type":"comment","z":"355c7a41.155446","name":"Android manda para o http, recebo o valor e mando para o mqtt","info":"","x":303,"y":98,"wires":[]},{"id":"17331dc.74fa2e2","type":"comment","z":"355c7a41.155446","name":"pego do mqtt, converto para o comando JSON e envio para o arduino","info":"","x":296,"y":366,"wires":[]},{"id":"cb199a45.b80048","type":"comment","z":"355c7a41.155446","name":"Pego o que vem do arduino e mando para o mqtt","info":"","x":230,"y":630,"wires":[]},{"id":"cd087705.bfa748","type":"http in","z":"355c7a41.155446","name":"","url":"/porta","method":"get","upload":false,"swaggerDoc":"","x":116,"y":1172,"wires":[["e1290448.1bf9a8"]]},{"id":"928ccae4.c21a78","type":"http response","z":"355c7a41.155446","name":"","x":569,"y":1242,"wires":[]},{"id":"2aeb6ef0.cdcbe2","type":"mqtt in","z":"355c7a41.155446","name":"","topic":"naturaecobox/saida","qos":"0","broker":"f6bf1707.251968","x":154,"y":987,"wires":[["aa54f19f.2cd18"]]},{"id":"aa54f19f.2cd18","type":"change","z":"355c7a41.155446","name":"","rules":[{"t":"set","p":"porta","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":431,"y":1041,"wires":[[]]},{"id":"e1290448.1bf9a8","type":"function","z":"355c7a41.155446","name":"","func":"var obj = JSON.parse(flow.get(\"porta\"));\nif(\"comando\" in obj && \"porta\" in obj.comando) {\n    var valor = obj.comando.porta;\n    msg.payload={\"value\": valor};\n    msg.statusCode = 200;\n    msg.headers = {\"Content-Type\":\"application/json\"};\n} else {\n    msg.statusCode = 500;\n}\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":1214,"wires":[["928ccae4.c21a78"]]},{"id":"7889c75f.7c9e88","type":"comment","z":"355c7a41.155446","name":"pego do mqtt e mando para o flow porta","info":"","x":226,"y":895,"wires":[]},{"id":"aa34f888.f636f8","type":"comment","z":"355c7a41.155446","name":"pego do flow porta e mando de volta para o http para o arduino receber","info":"","x":300,"y":1089,"wires":[]},{"id":"25a6f3bc.bcb65c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bc180b17.6566e8","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"f6bf1707.251968","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5a3dfbba.991204","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
